@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>--------------------------------- </h3>

<p>This Application was created during the Dev 201 Course.</p>
<p>It was created by the following Programmers:
    <ul>
        <li> Jeremiah Carpenter</li>
        <li>Brittney Johnson</li>
        <li>Aleris Roman</li>
        <li>Giancarlo Rhodes</li>
        <li>Kerry Murphy</li>
    </ul>   
 </p>
