@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>----------------------------------------</h3>

<address>
    Onshore Outsourcing -SD<br />
    Macon, MO 63552<br />
    <abbr title="Phone">P:</abbr>
    660.395.4242
</address>

<address>
    <strong>Support:</strong>   <a href="josh.james@onshoreoutsourcing.com">Josh.James@onshoreoutsourcing.com</a><br />
</address>