@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Onshore SD Attendance Tracker</h1>
    <p class="lead">This will help track employees attendances per Teams.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Need Access</h2>
        <p>
            Pleaser reach out to your immediate supervisor or email Josh James.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Feedback?</h2>
        <p>We are always looking for feedback on how we can implement new features or enhance our current ones.</p>
        <p><a class="btn btn-default" href="mailto:josh.james@onshoreoutsourcing.com?Subject=Comments%20Feedback%20On%20SD%20Tracker">Click to Email Josh! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming Enhancements</h2>
        <p><ul><li>Email Pass Reset</li></ul></p>
    </div>
</div>