<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

  </appSettings>

  <connectionStrings>
    
    
    <!-- Giancarlo LAPTOP-1RTOL5OV\SQLEXPRESS-->
    <add name="OnshoreSDAttendanceTracker" connectionString="server=LAPTOP-1RTOL5OV\SQLEXPRESS;Initial Catalog=OnshoreSDAttendanceTracker;Integrated Security=True"/>
    <!--<add name="OnshoreSDAttendanceTracker" connectionString="server=.\SQLEXPRESS;Initial Catalog=OnshoreSDAttendanceTracker;Integrated Security=True"/>-->
  </connectionStrings>
  
</configuration>