<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

  </appSettings>

  <connectionStrings>
    
    
    <!-- Giancarlo LAPTOP-1RTOL5OV\SQLEXPRESS-->
    <add name="OnshoreSDAttendanceTracker" connectionString="server=onshoresdattendancetracker.cujoznozyd5u.us-east-2.rds.amazonaws.com,1433;Initial Catalog=OnshoreSDAttendanceTrackerTest;Persist Security Info=False;User ID=admin;Password=k*S48Seim2!x"/>
    <!--<add name="OnshoreSDAttendanceTracker" connectionString="server=.\SQLEXPRESS;Initial Catalog=OnshoreSDAttendanceTracker;Integrated Security=True"/>-->
    <add name="DBContext" connectionString="server=onshoresdattendancetracker.cujoznozyd5u.us-east-2.rds.amazonaws.com,1433;Initial Catalog=OnshoreSDAttendanceTrackerTest;Persist Security Info=False;User ID=admin;Password=k*S48Seim2!x"/>
  </connectionStrings>
  
</configuration>